{% extends 'forum.html' %}

{% block forumbutton %}
	<input type="button" class="btn btn-primary bt_new_them-ext" value="New extend-thema">
{% endblock %}
{% block forumlink %}
	<a href="/site/forum/extend-them/">Thema extend-title</a>
{% endblock %}

{% block form %}
	<div class="newthema">
		<div>
			<form method="post" action="/blablabla/">
			{{form.ext_them_name}}
			<input type="submit" class="btn btn-primary add_new_them" value="add">
			</form>
		</div>
	</div>
{% endblock %}