{% extends 'newsite_main_page.html' %}
{% block  search_panel%}
{% endblock %}

{% block  content %}
<div class="them_list">
	{% block title %}
	<h2>Title</h2>
	{% endblock %}
	<input type="button" class="btn btn-primary bt_new_them" value="New them">
<!--	--------------------------------------------------------->
	<div class="new_them">
		<div>
			{% block form %}
			<form method="post" action="">
			{{form.them_name}}
			<input type="button" class="btn btn-primary bt_new_them_add" value="add">
			</form>
			{% endblock %}
		</div>
	</div>
<!--	-------------------------------------------------------------------->
	<div id="forum_content">
		{% include "forum_content.html" %}
	</div>
</div>
{% endblock %}
	{% block pagination %}
    <div class="pagination_panel">
        <ul class="pagination" id="">
			{% for page in pagination %}
				<li><a href="/site/forum/page/{{page}}/">{{page}}</a></li>
            {% endfor %}
        </ul>
    </div>
	{% endblock %}