{% for ob in forum_list %}
<div class="them">
	<div class="them_info">
        <p>Date: {{ob.date}} User: {{ob.user}}</p>
    </div>
    <div class="them_title">
		{% block url %}
    		<a href="/site/forum/id/{{ob.id}}/" id="ext_them">{{ob.them_name}}</a>
		{% endblock %}
		
		{% block del_them_button %}
			{% if ob.user.email == request.user.email %}
				<input type="button" class="btn btn-primary delete_them" 
					   id="delele_them" value="Del">
				<label class="hide" id="forum_id">{{ob.id}}</label>
        	{% endif %}
		{% endblock %}

	</div>
</div>
{% endfor %}