@media screen and (max-width: 800px){
	.left_side{
		display: none;
	}
	.main_img{
		width: %;
	}
	.hide_button{
		display: block;
	}
	/*serach panel*/
	.input-group{
		width: 100%;
	}
	/*end search panel*/
	.user_panel{
		min-width: 160px;
	}
	.user_img{
		display: none;
	}
	.user_info{
		width: 100%;
	}
	.user_info_logout{
	}
	.post_footer{
		height: 60px;
	}
	.footer_button{
		/*width: 130px;*/
		width: 100%;
		display: block;
	}
	.right_side{
		margin-left: 60px;
	}
	.authentication_button{
		width: 100%;
		margin-top: 10px;
	}
	.auth_reg_input{
		width: 100%;
	}
	/*---------------------------------------------*/
	/*pagination*/
	.pager{
		display: block;
		font-size: 15px;
	}
	.pagination{
		display: none;
		padding: 0;
	}
	/*end pagination*/
	/*---------------------------------------------*/
	/*search*/
	.search_panel{
		height: 75px;
	}
	.btn-primary{
		width: 100%;
		vertical-align: bottom;
		display: inline-block;
	}
	/*end search*/
	/*---------------------------------------------*/
	.show_panel{
		width: 100%;
	}
}
@media screen and (min-width: 800px){
	.hide_button{
		display: none;
	}
	.main_img{
		width: 60%;
		margin: 0 auto;
	}
	/*serach panel*/
	.input-group{
		width: 40%;
	}
	/*end search panel*/
	.user_panel{
		width: 450px;
	}
	.post_footer{
	}
	.user_img{
		display: inline-block;
	}
	.user_info{
		width: 70%;
	}
	.user_info_logout{
		position: absolute;
		right: 0;
	}
	.post_footer{
	/*margin-right: 7%;*/
		height: 30px;
	}
	.footer_button{
		width: 180px;
		display: inline-block;
	}
	.right_side{
		margin-left: 340px;
	}
	.authentication_button{
		float: right;
		margin: 20px;
		width: 180px;
	}
	.auth_reg_input{
		width: 90%;
		margin-left: 5%;
	}
	.authentication_form label{
		margin-left: 5%;
	}
	/*---------------------------------------------*/
	/*pagination*/
	.pager{
		display: none;
	}
	.pagination{
		display: inline-block;
		padding: 20px;
		font-size: 25px;
	}
	/*end pagination*/
	/*---------------------------------------------*/
	/*search*/
	.search_panel{
		height: 40px;
	}
	/*end search*/
	.show_panel{
		width: 50%;
	}
}