{% for obj in publications %}
<div class="content-header">
	<h2 class="content-title">{{obj.title}}</h2>
	{% if request.user.is_authenticated %}
		{% if obj.bookmark == False %}
		<div class="checkboxTwo">
			<label for="checkboxTwoInput" id='{{obj.id}}'></label>
  		</div>
		{% endif %}
	{% endif %}
</div>
<p class="short-text">{{obj.content}}</p>
<div class="main_img">
    {% load staticfiles %}
    <img src="{% static 'img/'%}{{obj.image_source}}">
</div>
<div class="post_footer">
    <div class="date">
        <strong>Date:</strong> <em>{{obj.date|date:"D d M Y"}}</em>
    </div>
    <a href="/site/more/{{obj.id}}/" class=" btn btn-primary more_button">More</a>
</div>
{% endfor %}
