{% extends 'newsite_main_page.html' %}

{% block  content %}
<h2>{{publication.title}}<p id="publication_id">{{publication.id}}</p></h2>
<div class="date">
	<strong>Date:</strong> <em>{{publication.date}}</em>
</div>
<p class="text">{{publication.content}}</p>
<div class="main_img">
    {% load staticfiles %}
    <img src="{% static 'img/'%}{{publication.image_source}}">
</div>
<div class="post_footer">
</div>
<div class="comment_place">

	{% include "comment_body.html" %}

</div>
{% if request.user.is_authenticated %}
<form action="" method="post" id="comment_form">
	{% csrf_token %}
	<div class="textarea">
		<textarea id=textarea>
		</textarea>
	</div>
	<input type="button" value="Send" class="btn btn-primary" id="send_comment"/>
	<div class="wait_save_comment">
		<div></div>
		<label>Waiting...</label>
		<img src="{% static 'img/save-comment.gif'%}">
	</div>
</form>
{% endif %}

{% endblock %}