{% extends 'newsite_main_page.html' %}

{% block  content %}
<h2>{{publication.title}}</h2>
<div class="date">
	<strong>Date:</strong> <em>{{publication.date}}</em>
</div>
<p class="text">{{publication.content}}</p>
<div class="main_img">
    {% load staticfiles %}
    <img src="{% static 'img/'%}{{publication.image_source}}">
</div>
<div class="post_footer">
</div>
<div class="comment_place">
	<div class="comment_form">
		<div class="user_comment">
			<div class="user_comment_icon">
				{% load staticfiles %}
    			<img src="{% static 'img/logo.jpg'%}">
			</div>
			<div class="user_comment_nik">
				<p>NikName</p>
			</div>
		</div>
		<div class="comment_info">
			Info
		</div>
		<div class="comment_text">
			<p>
				text
			</p>
		</div>
	</div>
</div>
<div class="textarea">
	<textarea>
	</textarea>
	<input type="button" value="Send" class="btn btn-primary"/>
</div>
{% endblock %}